# 1. 데이터 불러오기

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv('Fvote.csv', encoding='utf-8')

In [4]:
data.head()

,Unnamed: 0,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,0,1,0,0,0,0,1,1.0,0.666667,0.666667,0.25,0.25,0.75,1,2
1,1,0,1,0,0,1,0,0,0.5,0.666667,0.666667,0.25,0.75,0.50,0,3
2,2,0,1,0,1,0,0,0,0.0,0.333333,1.000000,0.00,0.50,0.45,1,4
3,3,1,0,0,0,0,1,0,0.5,0.000000,0.666667,1.00,0.75,0.40,1,1
4,4,0,1,0,0,0,1,0,0.0,0.333333,1.000000,0.75,0.50,0.35,1,1

In [5]:
data.shape

(211, 16)

# 2. 특성(X)과 레이블(y) 나누기

In [6]:
# 방법1: 특성이름으로 불러오기
X=data[['gender_female', 'gender_male', 'region_Chungcheung', 'region_Honam', 
        'region_Others', 'region_Sudo', 'region_Youngnam', 'edu', 'income', 
        'age', 'score_gov', 'score_progress', 'score_intention']]

In [7]:
X.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention
0,0,1,0,0,0,0,1,1.0,0.666667,0.666667,0.25,0.25,0.75
1,0,1,0,0,1,0,0,0.5,0.666667,0.666667,0.25,0.75,0.50
2,0,1,0,1,0,0,0,0.0,0.333333,1.000000,0.00,0.50,0.45
3,1,0,0,0,0,1,0,0.5,0.000000,0.666667,1.00,0.75,0.40
4,0,1,0,0,0,1,0,0.0,0.333333,1.000000,0.75,0.50,0.35

In [8]:
# 방법2: 특성 위치값으로 불러오기
X=data[data.columns[1:14]]

In [9]:
# 방법3: loc 함수로 불러오기 (단, 불러올 특성이 연달아 있어야 함)
X=data.loc[:, 'gender_female':'score_intention']

In [10]:
y=data[["vote"]]

In [11]:
y.head()

   vote
0     1
1     0
2     1
3     1
4     1

# 3. train-test 데이터셋 나누기

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test=train_test_split(X, y, stratify=y, random_state=42)

In [14]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(158, 13) (53, 13) (158, 1) (53, 1)

In [15]:
X_train.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention
68,1,0,0,0,0,0,1,0.5,1.000000,0.333333,0.50,0.50,0.35
8,0,1,1,0,0,0,0,0.0,0.333333,1.000000,0.25,0.25,0.25
10,0,1,0,0,0,1,0,0.0,0.333333,0.666667,0.25,0.75,0.30
67,0,1,0,0,0,0,1,1.0,1.000000,0.666667,0.00,0.25,0.25
90,0,1,0,0,0,1,0,1.0,1.000000,0.666667,1.00,0.25,0.00

In [16]:
X_test.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention
81,0,1,0,1,0,0,0,0.5,0.333333,0.333333,0.50,0.50,0.30
30,0,1,0,0,0,1,0,0.0,0.666667,0.666667,0.25,0.25,0.35
92,1,0,0,0,0,1,0,0.5,0.666667,0.333333,0.50,0.75,0.20
62,0,1,0,0,0,1,0,0.0,0.333333,1.000000,0.00,0.00,0.40
11,1,0,0,0,0,0,1,0.0,0.000000,0.666667,0.50,0.25,0.40

# 4. 모델 적용

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
knn=KNeighborsClassifier(n_neighbors=3)

## 4-1. 랜덤없는 교차검증: cross_val_score

In [19]:
from sklearn.model_selection import cross_val_score

In [20]:
scores=cross_val_score(knn, X_train, y_train, cv=5)

In [21]:
scores

array([0.57575758, 0.625     , 0.58064516, 0.61290323, 0.64516129])

In [22]:
scores.mean()

0.607893450635386

In [23]:
from sklearn.model_selection import cross_val_predict

In [27]:
cross_val_predict(knn, X_test, y_test, cv=5)

array([1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0], dtype=int64)

## 4-2. 랜덤 있는 교차검증: KFold

In [28]:
from sklearn.model_selection import KFold

In [29]:
kfold=KFold(n_splits=5, shuffle=True, random_state=42)

In [30]:
score=cross_val_score(knn, X_train, y_train, cv=kfold)

In [31]:
score

array([0.625     , 0.65625   , 0.6875    , 0.70967742, 0.5483871 ])

In [32]:
score.mean()

0.6453629032258065

## 4-3. 임의분할 교차검증

In [37]:
from sklearn.model_selection import ShuffleSplit

In [42]:
shuffle_split=ShuffleSplit(test_size=0.5, train_size=0.3, random_state=42)

In [43]:
score=cross_val_score(knn, X_train, y_train, cv=shuffle_split)

In [44]:
score

array([0.64556962, 0.63291139, 0.6835443 , 0.60759494, 0.67088608,
       0.55696203, 0.6835443 , 0.58227848, 0.64556962, 0.60759494])

In [45]:
score.mean()

0.6316455696202532

## 4-4. train/test/validity 분할과 교차검증

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train_val, X_test, y_train_val, y_test=train_test_split(X, y, random_state=1 )

In [48]:
X_train, X_valid, y_train, y_valid=train_test_split(X_train_val, y_train_val, random_state=2 )

In [49]:
from sklearn.neighbors import KNeighborsClassifier

In [50]:
knn=KNeighborsClassifier(n_neighbors=3)

In [51]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [52]:
scores=cross_val_score(knn, X_train, y_train, cv=5)

In [53]:
scores

array([0.75      , 0.83333333, 0.54166667, 0.65217391, 0.73913043])

In [54]:
scores.mean()

0.7032608695652174

In [55]:
knn.score(X_valid, y_valid)

0.6

In [56]:
knn.score(X_test, y_test)

0.6226415094339622